.container {
    align-items: center;
    flex-direction: column;
    padding: 16px;
    width: 85%;
    //max-width: 1080px;
    margin: auto;
    height: 100%;
    min-height: 85vh;
}

.filter-icon {
    padding-right: 15px;
}

.content-box {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
}

.sort-by-button-group-container {
    display: inline-block;
    padding-right: 25px;
    padding-bottom: 5px;
}

.filter-text-field-container {
    display: inline-block;
}
