<div class="container">
    <div class="content-box">
        <div class="sort-by-button-group-container">
            <mat-button-toggle-group
                class="sort-by-button-group"
                name="sortBy"
                [ngModel]="sortOption"
                (ngModelChange)="onSortByButtonChange($event)"
            >
                <mat-button-toggle
                    disabled="true"
                    mat-raised-button
                    matTooltip="Sort"
                >
                    <mat-icon>
                        sort
                    </mat-icon>
                </mat-button-toggle>
                <mat-button-toggle
                    value="acquired"
                    mat-raised-button
                    matTooltip="Sort by Newest In"
                >
                    <mat-icon>
                        whatshot
                    </mat-icon>
                </mat-button-toggle>
                <mat-button-toggle
                    value="creation"
                    mat-raised-button
                    matTooltip="Sort by Date Minted"
                >
                    <mat-icon>
                        access_time
                    </mat-icon>
                </mat-button-toggle>
                <mat-button-toggle
                    value="alpha"
                    mat-raised-button
                    matTooltip="Sort Alphabetically"
                >
                    <mat-icon>
                        sort_by_alpha
                    </mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="filter-text-field-container">
            <mat-form-field class="filter-text-field">
                <input
                    matInput
                    type="text"
                    placeholder="Search"
                    [ngModel]="filterText"
                    (ngModelChange)="onFilterTextChange($event)"
                />
                <mat-icon
                    matPrefix
                    mat-raised-button
                    matTooltip="Filter by Text"
                >
                    filter_list
                </mat-icon>
            </mat-form-field>
        </div>
    </div>
    <app-card-deck
        [filterText]="filterText"
        [sortOption]="sortOption"
    />
</div>
