<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-text">
                {{appName}} &copy;{{currentYear}}
            </div>
            <a
                mat-icon-button
                class="footer-icon-button"
                href="{{githubUrl}}"
            >
                <fa-icon
                    class="footer-icon"
                    [icon]="githubIcon"
                />
            </a>
            <a
                mat-icon-button
                class="footer-icon-button"
                href="{{mailHref}}"
            >
                <fa-icon
                    class="footer-icon"
                    [icon]="mailIcon"
                />
            </a>
        </div>
    </div>
</footer>
