.app-spacer {
    flex: 1 1 auto;
}

.app-navbar-logo {
    padding-left: 10px;
    padding-right: 15px;
}

.app-navbar-coin-logo {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-right: 12px;
}
