<mat-grid-list
    cols="2"
    rowHeight="2:1"
>
    <div *ngFor="let card of cards">
        <mat-card id="card_{{card.id}}" class="example-card">
            <mat-card-header>
                <div
                    mat-card-avatar
                    class="example-header-image"></div>
                <mat-card-title>
                    Shiba Inu
                </mat-card-title>
                <mat-card-subtitle>
                    Dog Breed
                </mat-card-subtitle>
            </mat-card-header>
            <img
                mat-card-image
                src="{{card.image}}"
                alt="{{card.altText}}"
            >
            <mat-card-content>
                <h6>
                    {{card.title}}
                </h6>
                <p
                    *ngIf="card.description"
                >
                    {{card.description}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</mat-grid-list>
